.socialsh{
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.sm-linksh{
    display: flex;
    justify-content: center;
    width: 20%;
    list-style: none;
    justify-content: space-between;
}

.sm-linkh a{
        font-size: 2rem;
        color: #90e0ef;
}

